#main-div{
    height: 400px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 400px 400px;
}
h1{
    text-align: center;
}
.inner{
    height: 200px;
    width: auto;
    border: 1px solid black;
}
.changebg{
    background-color: blueviolet;
}
button{
    height: 50px;
    width: 100px;
    margin-left:10px ;
    margin-top: 20px;

}